@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Krona+One&display=swap');

:root {
    --background-color: #1B1717;
    --hover-color: #810000;
    --bold-color: #CE1212;
    --text-color: #EEEBDD;
    --font-chakrapetch: 'Chakra Petch', sans-serif;
    --font-kronaone: "Krona One", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}
body {
    background-color: var(--background-color);
    color: var(--text-color);
    box-sizing: border-box;
}
.bold {
    color: var(--bold-color);
}

.cabecalho {
    padding: 3% 0% 0% 15%;
}
.cabecalho-menu {
    display: flex;
    gap: 80px;
}
.cabecalho-menu-link {
    color: var(--text-color);
    font-family: var(--font-chakrapetch);
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;   
}
.cabecalho-menu-link:hover {
    color: var(--hover-color);
}

.container {
    padding: 5% 15%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.container-texto {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.container-texto-titulo {
    font-size: 2rem;
    font-family: var(--font-kronaone);
    font-weight: 400;
    font-style: normal;
}
.container-texto-paragrafo {
    font-size: 1.25rem;
    font-family: var(--font-chakrapetch);
    font-weight: 400;
    font-style: normal;
}
.container-botoes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}
.container-botoes-subtitulo {
    font-family: var(--font-kronaone);
    font-size: 1.5rem;
    font-weight: 400;
}
.container-botoes-links {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--bold-color);
    color: var(--text-color);
    width: 50%;
    border-radius: 8px;
    font-size: 1.5rem;
    font-family: var(--font-chakrapetch);
    font-weight: 600;
    padding: 21.5px 0;
    text-align: center;
    text-decoration: none;    
}
.container-botoes-links:hover {
    background-color: var(--hover-color);
}

.container-imagem {
    width: 32%;
}

.rodape {
    background-color: var(--bold-color);
    color: var(--background-color);
    font-size: 1.25rem;
    font-family: var(--font-chakrapetch);
    font-weight: 600;
    text-align: center;
    padding: 24px;
}

@media (max-width: 1000px) {
    .cabecalho {
        padding: 3% 0 0 0;
    }
    .cabecalho-menu {
        justify-content: center;
    }

    .container {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        padding: 5%;
    }

    .container-texto {
        width: 100%;
    }

    .container-imagem {
       margin: 24px 0;
    }
}

@media (max-width: 750px) {
    .container-imagem {
        width: 50%;
    }
}